body {
  height: 100%;
  font-size: 16px;
  line-height: 1.3;
  //font-family: $font;
  color: #000;
  font-weight: normal;
  cursor: default;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @include lg-screen {
    font-size: 14px;
  }
}

.header,
.footer{
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
  min-height: calc((var(--vh, 1vh) * 100));
  display: flex;
  flex-direction: column;

  .footer {
    margin-top: auto;
  }
}

.container {
  width: 100%;
  max-width: $container + $fields*2;
  padding-left: $fields;
  padding-right: $fields;
  margin-left: auto;
  margin-right: auto;

  @include sm-screen {
    padding-left: 20px;
    padding-right: 20px;
  }
}

a {
  color: $linkColor;
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

button {
  cursor: pointer;
}

ul:not([class]) {
  padding: 0 0 0 20px;

  li {
    margin-bottom: 15px;
    list-style: disc;

    &::marker {
      color: currentColor;
      font-size: 1.2em;
    }
  }
}

